<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>Code Viewer</title>
    <%- include('../components/default-head'); -%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/stackoverflow-dark.min.css">
    <script>
      if (!window.frameElement) {
        window.location.href = window.location.origin +
            '/codedump/#path=<%= filepath %>';
      }
    </script>
  </head>
  <body class="d-flex flex-column-reverse" style="background-image: none;">
    <footer role="toolbar" class="d-flex justify-content-between align-items-center text-light bg-dark px-3">
      <div>
        <h1 class="h6" style="display: inline;"><%= filepath %></h1>
        <span class="mx-1" style="border-right: solid #222 1px;"></span>
        <% if (filepath.endsWith('.html.ejs')) { %>
          <a href="<%= filepath.slice(0, -4) %>">
            <img src="https://img.shields.io/badge/demo-view_live-005a8f" alt="View demo live"/>
          </a>
        <% } %>
      </div>
      <a href="<%= filepath.split('/').pop() %>" class="btn btn-success my-2" download>Download</a>
    </footer>
    <main style="flex-grow: 1; background-color: #222; overflow: scroll;">
      <pre class="px-2 py-1" style="overflow: visible;"><code><%- content -%></code></pre>
    </main>
  </body>
</html>
