<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>WylieYYYY's Blog</title>
    <%- include('default-head'); -%>
  </head>
  <body class="text-light">
    <%- include('nav'); -%>
    <main>
      <% for (const post of posts) { -%>
        <div class="card m-5" style="background-color: #121212; width: 80%;">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= post.subtitle %></h6>
            <p class="card-text"><%- post.content %></p>
          </div>
        </div>
      <% } -%>
    </main>
    <%- include('footer'); -%>
  </body>
</html>
