<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>WylieYYYY's Blog</title>
    <%- include('../components/default-head'); -%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/stackoverflow-dark.min.css">
  </head>
  <body class="text-light">
    <%- include('../components/nav'); -%>
    <main>
      <%
        const rainbowMap = '222210000012';
        function getRainbow(idx) {
          return 'rgb(' +
              `${Number(rainbowMap[idx % 12]) * 127},` +
              `${Number(rainbowMap[(idx + 8) % 12]) * 127},` +
              `${Number(rainbowMap[(idx + 4) % 12]) * 127})`
        }
      %>
      <% for (const [idx, post] of posts.entries()) { -%>
        <div class="card m-5" style="background-color: #121212; width: 80%;
            border-top: 3px solid <%= getRainbow(posts.length - idx) %>;">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= post.subtitle %></h6>
            <div class="card-text"><%- post.content %></div>
          </div>
        </div>
      <% } -%>
    </main>
    <%- include('../components/footer'); -%>
  </body>
</html>
